.quiz__wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: #FFC500;
    height: 100vh;
    width: 100vw;
    background-color: #7F0909;
}

.quiz__header {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 5em;
    margin-bottom: 0;
}

.quiz__question-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.quiz__question {
    font-size: 2em;
}

.quiz__answer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.quiz__answer-container button {
    display: flex;
    align-self: center;
    justify-content: center;
}