.answer-button {
    min-height: 1.8rem;
    min-width: 40rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    border: 2px solid #FFC500;
    color: #7F0909;
    font-size: 1.5em;
    padding: .5rem;
    margin: 1rem 0;
    font-family: 'Courier New', Courier, monospace;
}