.question-section__statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-section__statistics-box {
    min-width: 5rem;
    min-height: 1.5rem;
    background-color: #FFC500;
    padding: 0.5rem;
    color: #7F0909;
    border: 2px solid #591313;
    border-radius: 5px;
    font-size: 1.3em;
    justify-content: center;
    margin-right: 5px;
}

.question-section__question-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.question-section__question {
    font-size: 2em;
}

.question-section__answer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.question-section__answer-container button {
    display: flex;
    align-self: center;
    justify-content: center;
}